.aboutmainwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  font-family: "Bebas Neue", sans-serif;
  /* background-color: var(--lightgreen); */
}
.aboutmaindetails {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.aboutmaindetails h3 {
  color: var(--green);
}
.aboutmaindetails .aboutmainpara {
  width: 55%;
  text-align: justify;
}
@media (max-width: 426px) {
  .aboutmainwrapper {
    flex-direction: column;
    height: 100%;
    
    align-items: center;
    justify-content: center;
  }
  .aboutmaindetails {
    height: 100%;
    padding: 2rem 0;
    align-items: center;
  }
  .aboutmaindetails .aboutmainpara{
    width: 80%;
  }
}
