.contactMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 100px;
  font-family: "Bebas Neue", sans-serif;
}

.cardWrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 300px; */
  /* padding: 50px 0; */
  gap: 1rem;
  /* border: 1px solid ; */
}

.contactDetails {
  /* width: 23rem;
  height: 10rem; */
  /* border: 1px solid ; */
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0.5px var(--green);
  padding: 5px 20px;
}

.contactHead,
.heading {
  color: var(--yellow);
}

/* color:var(--green) */
.map {
  height: 400px;
  width: 640px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0.5px var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px 20px; */
  /* display: flex; */
}

.linkContact {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  text-align: right;
  border: 1px solid;
}

.para {
  font-size: large;
  display: flex;
  color: var(--green);
  align-items: center;
}

.headbreak {
  display: none;
}

@media (max-width: 426px) {
  .contactMain {
    padding: 30px 0;
    flex-direction: column;
    gap: 3rem;
  }

  .cardWrapper {
    align-items: center;
  }

  .paraEnq {
    text-align: center;
  }

  .contactDetails {
    width: 12rem;
    height: 8rem;
    padding: 0 15px;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    width: 95%;
    height: 20rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .contactHead {
    text-align: center;
  }

  .headbreak {
    display: flex;
  }
}