.navWrapper {
  width: 100%;
  height: 60px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  color: var(--green);
  justify-content: space-around;
}
.Navleft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navleft img {
  width: 60px;
}
.Name {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-transform: uppercase;
  /* justify-content: start; */
  text-transform: uppercase;
  text-align: left;
}
.Velayudha {
  font-size: 27px;
  font-weight: 900;
  line-height: 15px;
}
.pharma {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 50px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  color: var(--green);
  /* color: red; */
}
.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  /* color: red; */
}
.wrapperBtmNav {
  width: 100%;
  height: 40px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.list1 {
  display: flex;
  gap: 80px;
  list-style: none;
  font-weight: 600;
  color: var(--white);
}
.list2 {
  display: none;
}
.list1 a,
.list2 a {
  text-decoration: none;
  color: var(--white);
}
.list1 a:hover,
.list2 a:hover {
  color: yellow;
}
.contactIcon {
  cursor: pointer;
}
.logowhite {
  display: none;
  cursor: pointer;
}
.logogreen {
  display: flex;
  cursor: pointer;
}

.appointmen-main {
  width: 100%;
  height: 100vh;
  background-color: #c9f0b563;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.appointment-form-container {
  width: 300px;
  box-shadow: 1px 1px 5px 1px var(--darkgreen);
  /* height: 100vh; */
  background-color: var(--lightgreen);
  color: var(--darkgreen);
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  padding: 30px 0;
  position: relative;
}
.closeButton {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 25px;
  cursor: pointer;
  background-color: var(--darkgreen);
  border-radius: 100%;
  color: var(--white);
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}
.form-group input,
.form-group select,
form button {
  width: 13rem;
  height: 2rem;
  font-family: "Bebas Neue", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
}
form button {
  color: var(--white);
  background-color: var(--darkgreen);
  font-size: 1rem;
  font-weight: 100;
  border: 2px solid var(--darkgreen);
}
form button:hover,
form button:active {
  cursor: pointer;
  font-size: 1.05em;
}

/* @media (max-width: 426px) {
} */

@media (max-width: 426px) {
  .navWrapper {
    justify-content: center;
    /* background-color: var(--green); */
    /* color: white; */
  }
  .Navleft {
    gap: 2rem;
  }
  .wrapperBtmNav {
    display: none;
  }
  .icons {
    position: fixed;
    z-index: 20;
    right: 10px;
    bottom: 20%;
    flex-direction: column;
    color: var(--darkgreen);
    /* color: red; */
    background-color: rgba(255, 255, 255, 0.504);
    padding:10px 5px;
    border-radius: 3px;

  }
  .icons a {
    color: var(--darkgreen);
    /* color: red; */
    /* color: var(--yellow); */

  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .list2 {
    position: absolute;
    z-index: 50;
    width: 100%;

    background-color: var(--green);
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }
  .logowhite {
    display: flex;
  }
  .logogreen {
    display: none;
  }
  .appointment-form-container {
    /* position: fixed; */
    width: 90%;
    /* height: 100vh; */
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    padding: 30px 0;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
  }
  .form-group input,
  .form-group select,
  form button {
    width: 13rem;
    height: 2rem;
    font-family: "Bebas Neue", sans-serif;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
  }
  form button {
    color: var(--white);
    background-color: var(--darkgreen);
    font-size: 1rem;
    font-weight: 100;
  }
}