.MainHeading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--yellow);
  font-family: "Bebas Neue", sans-serif;
  width: 60%;
  /* text-align: center; */
}
@media (max-width: 426px) {
  .MainHeading {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    width: 90%;
  }
}
